
<div class="d-flex justify-content-center">
    <div class="p-field col-4 d-flex flex-cloumn mb-2">
        <div class="p-field col-4 mb-2">
        <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [(ngModel)]="username" />
            <label for="inputtext">InputText</label>
        </span>
        </div>
        <div class="p-field col-4 mb-2">
        <span class="p-float-label">
            <p-password inputId="password" [(ngModel)]="password"></p-password>
            <label for="password">Password</label>
        </span>
        </div>
        <div class="">
            <button    pButton    pRipple    type="button"    label="Login"    class="p-button-secondary"    (click)="submitLogin()"></button>
        </div>
    </div>
</div>

